config.env*
*.pyc
data*
.vscode
.idea
*.json
*.pickle
.netrc
log.txt
accounts/*
Thumbnails/*
MediaInfo/*
Images/*
rclone/*
list_drives.txt
cookies.txt
downloads
bot.session
user.session
terabox.txt
rclone.conf
bot.session-journal
qBittorrent/config/lockfile
qBittorrent/config/qBittorrent-data.conf
qBittorrent/config/rss/
qBittorrent/config/qBittorrent.conf
